/* global */
.hr {
  width: 100%;
  height: 1px;
  border-color: var(--main-c2);
  margin: var(--hr-margin) 0;
}

/* router */
.career_input {
  background-color: var(--main-c3);
  border: 1px solid var(--main-c4);

  width: 100%;
  font-size: 1.4rem;
}
