.wrapper {
  display: block;
  width: 100%;
  height: 8rem;

  position: fixed;
  bottom: 0;
  z-index: 1000;

  --border-footer: 1.6rem;
  border-top-left-radius: var(--border-footer);
  border-top-right-radius: var(--border-footer);
  background-color: var(--foreground);
  border-top: 0.12rem solid var(--main-c6);

  padding: 1rem 2rem;
}

.inner {
  display: flex;
  position: relative;
  height: 100%;
  justify-content: space-between;
}

.l_inner {
  display: flex;
  height: inherit;
  gap: 1rem;
}
.button {
  height: inherit;
  border-radius: 15rem;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.r {
  width: 18rem;
  background-color: var(--main-c1);
}

.l {
  width: fit-content;
  color: var(--background);
  background-color: inherit;

  gap: 1rem;
}

.pdf {
  color: var(--background);
  background-color: inherit;
}

.ani:hover {
  background-color: var(--main-c8);
}
.ani:active {
  background-color: var(--main-c7);
}
